@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #fff;
}

#recurso-1 {
  size: 100%;
  width: 100%;
  z-index: 1;
}

.imgs{
  margin-top: -450px;
}

#logo-123 {
  opacity: 0.8;
  width: 15%;
  z-index: 2;
}

#sergio-hr {
  margin-top: 10px;
  z-index: 3;
  opacity: 0.6;
  width: 99%;
}

.header {
  font-family: "Roboto Slab", serif;
    font-weight: 800;
    display: flex;
    margin-top: 60px;
    gap: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-menu {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
}

.header-menu a {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  color: #25282d;
  transition: color 1s ease 0s;
  -webkit-transition: color 1s ease 0s;
  -moz-transition: color 1s ease 0s;
  -ms-transition: color 1s ease 0s;
  -o-transition: color 1s ease 0s;
}

.header-menu a:hover {
  color: #616a72;
}

#active {
  color: #ff9f63;
}

.header-menu a:not(:first-child) {
  margin-left: 85px;
}

.container{
  margin-left: 150px;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
  text-align: center;
	padding: 100px 400px;
}
.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
}

p{
  font-family: "Roboto Slab", serif;
  font-weight: bolder;
  color: #ff9f63;
	position: relative;
	padding: 0 0 10px;
}

/**p:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #ff9f63;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}**/

.field{
  color: #25282d;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  width: 100%;
  border: 2px solid #ff9f63;
  border-radius: 15px;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 32px;
  transition: .3s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.social-1{
  font-family: "Roboto Slab", serif;
  display: flex;
}

.social-1 i{
  color: #ff9f63;
  font-size: 30px;
  margin-left: 150px;
  margin-bottom: 20px;
}

.social-1 h4{
  margin-left: 20px;
  color: #616a72;
  margin-top: 3px;
}

.btn{
  width: 100%;
  border-radius:5px ;
  padding: 0.5rem 1rem;
  background-color: #ff9f63;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}

.btn:hover{
    opacity: 0.9;
}

.field:focus{
    background-color: #fff;
}

/*@media screen and (min-width: 600px){
  #recurso-1{
    size: 100%;
  }
  #logo123{
    size: 60%;
  }
  .sergio-hr{
    size: 90%;
}
	.contact-box{
    margin-top: 0px;
		grid-template-columns: 1fr;
    margin-left: -550px;
	}
  .header-menu a:not(:first-child) {
    margin-left: 50px;
  }
  .social-1{
    font-family: "Roboto Slab", serif;
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .social-1 i{
    color: #ff9f63;
    font-size: 43px;
    margin-left: 50px;
  }
  .links i {
    font-size: 20px;
    color: #fff;
    display: flex;
    margin-top: 50px;
    transition: color 0.2s ease 0s;
    -webkit-transition: color 0.2s ease 0s;
    -moz-transition: color 0.2s ease 0s;
    -ms-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
  }
  .btn{
    margin-top: 0px;
  }
  
}*/

/*@media screen and (max-width: 1920px){
  .imgs{
    margin-top: -470px;
  }

  .contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-box p{
    margin-top: 30px;
  }

  form{
    margin-left: 650px;
}
}*/

#recurso-22 {
  width: 100%;
  margin-top: 90px;
  height: 20vh;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -90px;
  margin-top: -120px;
}

.links a {
  text-decoration: none;
}

.links i {
  display: flex;
  color: #fff;
  margin-left: 80px;
  font-size: 50px;
  transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}

.links i:hover {
  color: #ff9f63;
}
