@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #fff;
}

#recurso-1 {
  width: 100%;
  z-index: -1;
}

#logo-123 {
  opacity: 0.8;
  width: 13%;
  z-index: 2;
  position: absolute;
  margin-left: -1100px;
  transform: translate(18%, 0%);
  margin-top: 80px;
  -webkit-transform: translate(18%, 0%);
  -moz-transform: translate(18%, 0%);
  -ms-transform: translate(18%, 0%);
  -o-transform: translate(18%, 0%);
}

#sergio-hr {
  z-index: 3;
  position: absolute;
  opacity: 0.6;
  width: 101%;
  margin-left: -970px;
  margin-top: -199px;
}

.header {
  align-items: center;
  padding: 0 40px;
  white-space: nowrap;
  height: 60px;
  font-size: 14px;
  justify-content: space-between;
  font-family: "Roboto Slab", serif;
  font-weight: 800;
}

.header-menu {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
}

.header-menu a {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  font-size: 20px;
  text-decoration: none;
  color: #25282d;
  transition: color 1s ease 0s;
  -webkit-transition: color 1s ease 0s;
  -moz-transition: color 1s ease 0s;
  -ms-transition: color 1s ease 0s;
  -o-transition: color 1s ease 0s;
}

.header-menu a:hover {
  color: #616a72;
}

.header-menu a:not(:first-child) {
  margin-left: 85px;
}

.blog-elements-1{
  height: auto;
}

.blog-elements-1 img {
  
  height: 100%;
  width: 1280px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.blog-elements-1 video {
  border-radius: 5px;
  margin-top: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#active{
  color: #ff9f63;
}

.blog-elements-2 img{
    margin-top: 10px;
    margin-left: 0px;
}

#afiche{
    margin-top: 20px;
    width: 680px;
    margin-left: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#yerbas{
    transform: translate(19%, -110%);
    width: 500px;
    margin-left: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translate(19%, -110%);
    -moz-transform: translate(19%, -110%);
    -ms-transform: translate(19%, -110%);
    -o-transform: translate(19%, -110%);
}

#guayaba{
    transform: translate(1%, 0%);
    border-radius: 5px;
    width: 500px;
    margin-left: -410px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translate(1%, 0%);
    -moz-transform: translate(1%, 0%);
    -ms-transform: translate(1%, 0%);
    -o-transform: translate(1%, 0%);
}

.blog-elements-3 img{
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#abejas{
    transform: translate(-12%, 0%);
    margin-left: -17px;
    width: 600px;
    -webkit-transform: translate(-12%, 0%);
    -moz-transform: translate(-12%, 0%);
    -ms-transform: translate(-12%, 0%);
    -o-transform: translate(-12%, 0%);
}

#peru{
    transform: translate(16%, 0%);
    margin-right: -13px;
    width: 521px;
    -webkit-transform: translate(16%, 0%);
    -moz-transform: translate(16%, 0%);
    -ms-transform: translate(16%, 0%);
    -o-transform: translate(16%, 0%);
}

#recurso-22 {
  width: 100%;
  margin-top: 50px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -90px;
  margin-top: -170px;
}

.links a {
  text-decoration: none;
}

.links i {
  color: #fff;
  margin-left: 80px;
  font-size: 50px;
  transition: color 0.2s ease 0s;
  -webkit-transition: color 0.2s ease 0s;
  -moz-transition: color 0.2s ease 0s;
  -ms-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
}

.links i:hover {
  color: #ff9f63;
}
